*{    
    margin: 0px;
    padding: 0px;
    border: 0px;
}
@media screen and (max-width:320px){
header{
    width: 320px;
    height: 44px;
    position: relative;
}
.logo{
    display: block;
    position: absolute;
    left: 16px;
    top: 10px;
}
.options a{
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    display: block;
    width: 320px;
    letter-spacing: 0;
    line-height: 28px;
    margin: 24px 0px 24px 16px;
    opacity: 100%;
}
#episodios{
    margin-top: 16px;
}
.icon{
    display: block;
    position: absolute;
    right: 0px;
    top: 16px;
    margin-right: 19px;
}
.menu:hover .icon, .options, .icon-close{
    display: none;
}
.menu:hover .icon-close{
    display: block;
    position: absolute;
    right: 0px;
    top: 16px;
    margin-right: 16px;
}
.menu:hover .options{
    display: inline-block;
    background-color: #0000EC;  
    position: absolute;
    top: 44px;
  }
.options a:hover{
    font-weight: 500;
    text-decoration: line-through;
    color: #00F3BB;
}
.options a:active{
    text-decoration: line-through;
    color: #060A24;
    opacity: 56%;
    /*color: rgba(6,10,36,0.56);*/
}
.intro{
    margin: 29px 16px 0px 16px;
    color: #060A24;
    letter-spacing: 0;
}
#titulo{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    line-height: 42px;
}
#titulo .inline{
    display: block;
}
#titulo .inline span{
    text-decoration: line-through;    
}
.pc{
    display: none;
}
.contenido{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;    
    line-height: 22px;
    margin-top: 16px;
    margin-bottom: 36px;
}
.boton{
    display: block;
    width: 100%;
    height: 48px;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 500;
    font-size: 16px;
    color: #060A24;
    letter-spacing: 0;
    text-align: center;
    line-height: 22px;
    background-color: #00F3BB;
}
.episodios{ 
    margin-top: 24px;
}
.fondo{
    transform: skewY(-5deg);
    transform-origin: right;
    height: 1203.5px;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    position: relative;
}
#title-epis{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 42px;
    margin-left: 16px;
    padding-top: 64px;
    position: sticky;
    transform: skewY(5deg);
    transform-origin: right;
}
.embed{
    width: 298px;
    height: 225px;
    margin: 11px 11px 0px 11px;
    position: sticky;
    transform: skewY(5deg);
}
.phone{
    width: 360px;
    height: 519px;
    position: sticky;
    transform: translate(-20px) skewY(5deg);
    margin-top: 48px;
    
}

}

@media screen and (min-width:321px){
body{
    width: 1440px;
}
    header{
    width: 1440px;
    height: 80px;
    position: relative;
}
.logo{
    display: block;
    position: absolute;
    left: 100px;
    top: 22px;
    bottom: 22px;
    width: 36px;
    height: 36px;
}
.icon, .icon-close{
    display: none;
}
.options{
    position: absolute;
    right: 0px;
    top: 26px;
    margin-right: 100px;
}
.options a{
    text-decoration: none;
    color: #060A24;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 28px;
    margin: 24px 0px 24px 16px;
    opacity: 100%;
}
.options a:hover{
    font-weight: 500;
    text-decoration: line-through;
    color: #00F3BB;
}
.options a:active{
    text-decoration: line-through;
    color: #060A24;
    opacity: 56%;
    /*color: rgba(6,10,36,0.56);*/
}
.intro{
    margin: 120px 0px 0px 200px;
    color: #060A24;
    letter-spacing: 0;
}
#titulo{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 64px;
}
#titulo .inline span{
    text-decoration: line-through;    
}
#punto{
    color: #0000EC;
}
.contenido{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;    
    line-height: 24px;
    width: 628px;
    margin-bottom: 56px;
}
.movil{
    display: none;
}
.boton{
    display: block;
    width: 226px;
    height: 56px;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0;
    text-align: center;
    line-height: 24px;
    background-color: #00F3BB;
}
}