*{    
    margin: 0px;
    padding: 0px;
    border: 0px;
}
@media (max-width:320px){
    body{
        width: 320px;
    }
    header{    
    height: 44px;
    position: relative;
}
.logo{
    display: block;
    position: absolute;
    left: 16px;
    top: 10px;
}
.options a{
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    display: block;
    letter-spacing: 0;
    line-height: 28px;
    margin: 24px 0px 24px 16px;
    opacity: 100%;
}
#episodios{
    margin-top: 16px;
}
.icon{
    display: block;
    position: absolute;
    right: 0px;
    top: 16px;
    margin-right: 19px;
}
.menu:hover .icon, .options, .icon-close{
    display: none;
}
.menu:hover .icon-close{
    display: block;
    position: absolute;
    right: 0px;
    top: 16px;
    margin-right: 16px;
}
.menu:hover .options{
    display: inline-block;
    background-color: #0000EC;  
    position: absolute;
    top: 44px;
  }
.options a:hover{
    font-weight: 500;
    text-decoration: line-through;
    color: #00F3BB;
}
.options a:active{
    text-decoration: line-through;
    color: #060A24;
    opacity: 56%;
    /*color: rgba(6,10,36,0.56);*/
}
.intro{
    margin: 29px 16px 0px 16px;
    color: #060A24;
    letter-spacing: 0;
}
#titulo{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    line-height: 42px;
}
#titulo .inline{
    display: block;
}
#titulo .inline span{
    text-decoration: line-through;    
}
.pc{
    display: none;
}
.contenido{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;    
    line-height: 22px;
    margin-top: 16px;
    margin-bottom: 36px;
}
.boton{
    display: block;
    width: 100%;
    height: 48px;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 500;
    font-size: 16px;
    color: #060A24;
    letter-spacing: 0;
    text-align: center;
    line-height: 22px;
    background-color: #00F3BB;
}
.episodios{ 
    margin-top: 24px;
}
.fondo{
    transform: skewY(-5deg);
    transform-origin: right;
    height: 1203.5px;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    position: relative;
}
#title-epis{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    color: #FFFFFF;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 42px;
    margin-left: 16px;
    padding-top: 64px;
    position: sticky;
    transform: skewY(5deg);
    transform-origin: right;
}
#episodios-flex{    
    transform: skewY(5deg);
    transform-origin: right;  
    margin: 10px 11px 0px 11px;
}
.embed{
    width:298px;
    height:232px;
    padding-top: 11px;
    position: sticky;  
}
.phone{
    width: 360px;
    height: 519px;
    position: sticky;
    transform: translate(-20px) skewY(5deg);
    margin-top: 48px;    
    transform-origin: right;
}
#phone-flex{
    display:flex; 
    justify-content: flex-end;
    flex-direction: column;
    margin: 469px 16px 0px 16px;
}
#title-where{
    font-family: 'IBM Plex Sans', sans-serif;
    color: #060A24;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 0;
    position: sticky;
    line-height: 42px;
}
#desc-where{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: 8px;
}
.title-invitados{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: #060A24;
    letter-spacing: 0;
    line-height: 42px;
    margin: 54px 16px 14px 16px;
}
.fotos-flex{
    display: flex;
    flex-wrap: wrap;
}
.fotos{
    width: 320px;
    height: 243px;
}
.temas{
    margin: 48px 16px 42px 16px;    
}
.temas-flex{
    display: flex;
    flex-direction: column;
}
.temas .title-temas{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: #060A24;
    letter-spacing: 0;
    line-height: 42px;
    margin-bottom: 37px;
}
.temas .descrip-temas{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #060A24;
    letter-spacing: 0;
    text-align: center;
}
.temas-flex div img{    
    padding: 0px 108px 13px 108px;
}
.margin-icon{
    margin-top: 65px;
}
.margin-icon-dif{
    margin-top: 49px;
}
.novedades{
    position: relative;
    overflow: hidden;
}
#triangle-bottomright {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    transform: skewY(-6deg);
    transform-origin: top right;
  }
  .title-novedades{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 42px;
    position: relative;
    margin-top: 64px;
    margin-bottom: 36px;
  }
  .final{
      position: relative;
      margin-bottom: 67px;
  }
  #margin-novedades{
    margin: 0px 16px;
  }  
  footer p{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 22px;
    margin: 24px 0px 22px 47px;
  }
  footer div{
      height: 22px;
      margin: 0px 45px 31px 45px;
      display: flex;
      justify-content: space-between;
  }
  footer div i{
    font-size: 14px;
  }

}

@media(min-width:321px){
body{
    width: 1440px;
}
    header{
    /*width: 1440px;*/
    height: 80px;
    position: relative;
}
.logo{
    display: block;
    position: absolute;
    left: 100px;
    top: 22px;
    bottom: 22px;
    width: 36px;
    height: 36px;
}
.icon, .icon-close{
    display: none;
}
.options{
    position: absolute;
    right: 0px;
    top: 26px;
    margin-right: 100px;
}
.options a{
    text-decoration: none;
    color: #060A24;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 28px;
    margin: 26px 0px 26px 48px;
    opacity: 100%;
}
.options a:hover{
    font-weight: 500;
    text-decoration: line-through;
    color: #00F3BB;
}
.options a:active{
    text-decoration: line-through;
    color: #060A24;
    opacity: 56%;
    /*color: rgba(6,10,36,0.56);*/
}
.intro{
    margin: 120px 0px 0px 200px;
    color: #060A24;
    letter-spacing: 0;
}
#titulo{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 64px;
}
#titulo .inline span{
    text-decoration: line-through;    
}
#punto{
    color: #0000EC;
}
.contenido{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;    
    line-height: 24px;
    width: 628px;
    margin-bottom: 56px;
}
.movil{
    display: none;
}
.boton{
    display: block;
    width: 226px;
    height: 56px;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0;
    text-align: center;
    line-height: 24px;
    background-color: #00F3BB;
}
.episodios{ 
    margin-top: 5px;
    transform-origin: right;
}
.fondo{
    transform: skewY(-5deg);
    transform-origin: right;
    height: 918px;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    position: relative;    
}
#title-epis{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 48px;
    font-weight: 400;
    color: #FFFFFF;
    letter-spacing: 0;
    margin-left: 200px;
    padding-top: 186px;
    position: sticky;
    transform: skewY(5deg);
    transform-origin: right;
}
.embed{
    width: 584px;
    height: 232px;
}
#episodios-flex{
    transform: skewY(5deg);
    display:flex; 
    flex-wrap: wrap; 
    padding: 26px 100px 0px 100px;    
    transform-origin: right;    
    justify-content: space-between;    
}
.margin{
    margin-top: 72px;
}
.phone{
    width: 457.6px;
    height: 660px;
    position: sticky;
    transform:skewY(5deg);
    transform-origin: right;     
    margin-left: 200px;
}
#phone-flex{
    display:flex; 
    justify-content: flex-end;
    flex-direction: column;
    margin-top: 145px;
    margin-left: 720px;
    
}
#title-where{
    width: 399px;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #060A24;
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 0;
    position: sticky;
}
#desc-where{
    width: 464px;
    height: 256px;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: 24px;
}
.title-invitados{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 48px;
    font-weight: 400;
    color: #060A24;
    letter-spacing: 0;
    margin: 195px 0px 36px 200px;
}
.fotos-flex{
    display: flex;
    flex-wrap: wrap;
}
.fotos{
    width: 480px;
    height: 384px;
}
.temas{
    margin: 64px 200px 34px 200px;    
}
.temas-flex{
    display: flex;
    justify-content: space-between;
}
.temas-flex div{
    width: 260px;
    flex-direction: column;
    justify-content: center;
}
.temas-flex div img{
    padding: 13px 78px;
}
.temas .title-temas{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 48px;
    font-weight: 400;
    color: #060A24;
    letter-spacing: 0;
    margin-bottom: 56px;
}
.temas .descrip-temas{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #060A24;
    letter-spacing: 0;
    text-align: center;
    margin-top: 16px;
}
.temas .descrip-temas span{
    display: block;
}
.novedades{
    position: relative;
    overflow: hidden;
}
#triangle-bottomright {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    transform: skewY(-6deg);
    transform-origin: top right;
  }
  .title-novedades{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 42px;
    position: relative;
    margin-top: 213px;
    margin-bottom: 36px;
  }
  .final{
      position: relative;
      width: 345px;
      margin: 0px auto 151px auto;
  }
  #margin-novedades{
    margin: 0px 16px;
  }
  footer{
      position: relative;
  }
  footer p{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 28px;
    margin: 36px 0px 31px 100px;
    position: absolute;
  }
  footer div{
      display: flex;
      justify-content: flex-end;
      position: relative;
      padding: 36px 100px 31px 0px;      
  }

  footer div i{
      margin-left: 36px;
      font-size: 18px;
  }
}

/*@media (min-width:1024px) and (max-width:1439px){
    #episodios-flex .embed {
        width: 400px;
        border: 1px solid red;
    }
}*/